.App {
  font-family: "jf-openhuninn", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #22272e;
  height: 100vh;
}

.App__header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.App__title {
  color: #ffffff;
  font-size: calc(1em + 2vw);
  margin: 1em 0;
}

.App__button {
  background: none;
  border-radius: 1.5rem;
  border: 2px solid #ea5b76;
  color: #ffffff;
  cursor: pointer;
  font-size: calc(0.5em + 1vw);
  padding: 1rem 2rem;
  margin: 1em;
}
