.App {
  background: #22272e;
  color: #ffffff;
  font-family: "jf-openhuninn", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
}

.App__header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 80%;
}

.App__title {
  font-size: calc(1em + 2vw);
  margin: 1em 0;
}

.App__buttons {
  display: flex;
}

.App__button {
  background: none;
  border-radius: 1.5rem;
  border: 2px solid #ea5b76;
  color: #ffffff;
  cursor: pointer;
  font-size: calc(0.5em + 1vw);
  margin: 1em;
  padding: 1rem 2rem;
}

.App__comment {
  color: #ffffff;
  font-size: calc(10px + 0.1vw);
  margin: calc(0.5em + 1vw) 0;
}

.App__checkbox-group {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: calc(1em + 1vh);
}

.App__checkbox {
  margin-right: calc(0.5em + 1vw);
}

.App__label {
  font-size: calc(0.5em + 1vw);
}
